.detail {
  position: relative;
  width: 100vw;
  height: 100vh;
  // padding: {
  //   top: 126 / $unit * $symbol;
  // }
  background-color: #f64841;
  &-main {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    .mian-content {
      position: relative;
      width: 100%;
      padding: {
        top: 630 / $unit * $symbol;
      }
      .content-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        width: 100%;
        height: 1200 / $unit * $symbol;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .content-panel {
        position: relative;
        z-index: 9;
        width: 702 / $unit * $symbol;
        margin: 0 auto;
        margin: {
          bottom: 42 / $unit * $symbol;
        }
        background-color: #fff;
        border-radius: 15 / $unit * $symbol;
        .panel-item {
          @include vertical_center();
          width: 100%;
          height: 231 / $unit * $symbol;
          padding: {
            left: 24 / $unit * $symbol;
            right: 24 / $unit * $symbol;
          }
          border: {
            bottom: 1px solid #E3E3E3;
          }
          .item-img {
            position: relative;
            width: 168 / $unit * $symbol;
            height: 168 / $unit * $symbol;
            img {
              width: 100%;
              height: 100%;
            }
            .img-down {
              position: absolute;
              left: 0;
              bottom: 0;
              z-index: 9;
              @include vertical_center_horizontal_around();
              width: 100%;
              height: 58 / $unit * $symbol;
              padding: {
                left: 6 / $unit * $symbol;
                right: 6 / $unit * $symbol;
              }
              background-color: rgba(0, 0, 0, .3);
              span {
                font-size: 27 / $unit * $symbol;
                color: #fff;
              }
              .down-item {
                @include center();
                width: 42 / $unit * $symbol;
                height: 36 / $unit * $symbol;
                background-color: #fff;
                border-radius: 6 / $unit * $symbol;
                span {
                  font-size: 27 / $unit * $symbol;
                  color: #222;
                }
              }
            }
          }
          .item-detail {
            flex: 1;
            padding: {
              left: 33 / $unit * $symbol;
            }
            .detail-title {
              width: 100%;
              height: 84 / $unit * $symbol;
              margin: {
                bottom: 6 / $unit * $symbol;
              }
              .title-text {
                font-size: 27 / $unit * $symbol;
                color: #333;
              }
            }
            .detail-assistance {
              @include vertical_center();
              width: 100%;
              height: 48 / $unit * $symbol;
              .assistance-wait {
                font-size: 24 / $unit * $symbol;
                color: #666666;
              }
              .assistance-yet {
                margin: {
                  left: 18 / $unit * $symbol;
                }
                font-size: 24 / $unit * $symbol;
                color: #666666;
                span {
                  color: #f74e46;
                }
              }
            }
            .detail-original {
              margin-left: 15 / $unit * $symbol;
              text-decoration: line-through;
              font-size: 24 / $unit * $symbol;
              color: #999999;
            }
            .detail-btm {
              @include vertical_center();
              .btm-price {
                @include vertical_center();

                .price-current {
                  color: #ff2f46;
                  span:first-of-type {
                    font-size: 21 / $unit * $symbol;
                  }
                  span:last-of-type {
                    font-size: 30 / $unit * $symbol;
                    font-weight: 700;
                  }
                }
              }
              .button {
                width: 141 / $unit * $symbol;
                height: 51 / $unit * $symbol;
                .btn {
                  width: 100%;
                  height: 100%;
                  border-radius: 24 / $unit * $symbol;
                  font-size: 27 / $unit * $symbol;
                  border: 1px solid #f74e46;
                }
              }
              .btm-detail {
                margin: {
                  left: 90 / $unit * $symbol;
                }
                .btn {
                  background-color: #ffffff;
                  color: #f74e46;
                }
              }
              .btm-share {
                margin: {
                  left: 39 / $unit * $symbol;
                }
                .btn {
                  background-color: #f74e46;
                  color: #fff;
                }
              }
            }
          }
        }
        .panel-invite {
          position: relative;
          width: 100%;
          height: 225 / $unit * $symbol;
          .invite-title {
            @include center();
            width: 100%;
            height: 90 / $unit * $symbol;
            .title-text {
              font-size: 30 / $unit * $symbol;
              color: #333333;
              span {
                font-size: 39 / $unit * $symbol;
                color: #F64841;
              }
            }
          }
          .invite-button {
            width: 100%;
            height: 87 / $unit * $symbol;
            padding: {
              left: 96 / $unit * $symbol;
              right: 96 / $unit * $symbol;
            }
            .btn {
              width: 100%;
              height: 100%;
              font-size: 36 / $unit * $symbol;
              color: #fff;
              background-color: #F64841;
              border-radius: 45 / $unit * $symbol;
            }
          }
          .active {
            .btn {
              background-color: #bfbfbf;
            }
          }
          .invite-pendant {
            position: absolute;
            left: 50%;
            bottom: -75 / $unit * $symbol;
            z-index: 9;
            width: 426 / $unit * $symbol;
            height: 102 / $unit * $symbol;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .content-particular {
        position: relative;
        z-index: 1;
        width: 702 / $unit * $symbol;
        margin: 0 auto;
        margin: {
          bottom: 36 / $unit * $symbol;
        }
        padding: {
          left: 36 / $unit * $symbol;
          right: 36 / $unit * $symbol;
          bottom: 33 / $unit * $symbol;
        }
        background-color: #fff;
        border-radius: 15 / $unit * $symbol;
        .particular-title {
          @include center();
          width: 100%;
          height: 114 / $unit * $symbol;
          font-size: 36 / $unit * $symbol;
          color: #333333;
        }
        .particular-list {
          width: 100%;
          .list-item {
            @include vertical_center_horizontal_between();
            width: 100%;
            height: 54 / $unit * $symbol;
            .item-userid, .item-time {
              font-size: 30 / $unit * $symbol;
              color: #000;
            }
            &:first-of-type {
              padding: {
                right: 36 / $unit * $symbol;
              }
              .item-userid, .item-time {
                color: #999;
              }
            }
          }
        }
      }
    }
  }
  &-logistics {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    @include column_vertical_end();
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    .logistics-content {
      width: 100%;
      height: 900 / $unit * $symbol;
      background-color: #fff;
      .content-title {
        @include vertical_center_horizontal_between();
        width: 100%;
        height: 90 / $unit * $symbol;
        padding: {
          left: 24 / $unit * $symbol;
          right: 24 / $unit * $symbol;
        }
        border: {
          bottom: 1px solid #eee;
        }
        span {
          font-size: 30 / $unit * $symbol;
          color: #999;
        }
        i {
          font-size: 36 / $unit * $symbol;
          color: #999;
        }
      }
      .content-html {
        width: 100%;
        height: 810 / $unit * $symbol;
        padding: {
          left: 24 / $unit * $symbol;
          right: 24 / $unit * $symbol;
          top: 30 / $unit * $symbol;
          bottom: 30 / $unit * $symbol;
        }
        overflow: auto;
      }
    }
  }
}